<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestaurantX | <%= menuItem.name %></title>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/" class="navbar-brand-link"><h1 class="navbar-title">RestaurantX</h1></a>
        <p class="navbar-tagline">Il miglior ristorante della galassia</p>
      </div>
    </nav>

    <div class="container">
      <h1 class="main-title"><%= menuItem.name %></h1>
      <p class="card-details-description"><%= menuItem.description %></p>
      <p class="card-details">Categoria: <%= menuItem.category %></p>
      <% if (menuItem.allergens.length > 0) { %>
      <p class="card-details">
        Allergeni: <%= menuItem.allergens.join(', ') %>
      </p>
      <% } %>
      <p class="card-price">$<%= menuItem.price %></p>
      <form action="/cart/add/<%= menuItem._id %>" method="POST">
        <button type="submit" class="button">Aggiungi al Carrello</button>
      </form>
    </div>

  </body>
</html>
